{% extends "/admin/base.html.twig" %}


{% block main %}


<div class="card">	

<h2>{{ designer.name }}</h2>
	<p>{{ designer.country }}</p>

</div>

<div class="btn-upd-dlt">
			<a href="{{ path('admin_update_designer', {'id' : designer.id}) }}">Modifier</a>
			<a href="{{ path('admin_delete_designer', {'id' : designer.id} )}}">Supprimer</a>


		</div>

{% endblock %}