{% extends "/admin/base.html.twig" %}


{% block main %}

{% for editor in editors %}

<div class="card">

<a href="{{ path('admin_editor_show', {'id' : editor.id}) }}">{{ editor.name }}</a>
    
 </div>
    
{% endfor %}
{% endblock %}

