{% extends "/admin/base.html.twig" %}


{% block main %}


<div class="card">	

<h2>{{ editor.name }}</h2>
	<p>{{ editor.country }}</p>

</div>

<div class="btn-upd-dlt">
			<a href="{{ path('admin_update_editor', {'id' : editor.id}) }}">Modifier</a>
			<a href="{{ path('admin_delete_editor', {'id' : editor.id} )}}">Supprimer</a>


		</div>

{% endblock %}