{% extends "/admin/base.html.twig" %}


{% block main %}

{% for licence in licences %}

<div class="card">

	<img src="{{asset('media/'~ licence.media)}}" alt="{{licence.name}}">


<a href="{{ path('admin_licence_show', {'id' : licence.id}) }}">{{ licence.name }}</a>
    
 </div>
    
{% endfor %}
{% endblock %}

