{% extends "/admin/base.html.twig" %}


{% block main %}


<div class="card">	

<h2>{{ writer.name }}</h2>
	<p>{{ writer.country }}</p>

</div>

<div class="btn-upd-dlt">
			<a href="{{ path('admin_update_writer', {'id' : writer.id}) }}">Modifier</a>
			<a href="{{ path('admin_delete_writer', {'id' : writer.id} )}}">Supprimer</a>


		</div>

{% endblock %}