{% extends "/front/base.html.twig" %}


{% block main %}

<div class="card">

{% for image in comic.images %}

			<img width="200px" src="{{ asset('media/' ~ image.src) }}" alt="{{ image.alt }}">

		{% endfor %}

<h2>{{ comic.title }}</h2>
	<p>{{ comic.description }}</p>
    
</div>

{% endblock %}