{% extends "/front/base.html.twig" %}


{% block main %}

{% for licence in licences %}

<div class="card">

<a href="{{ path('licence_show', {'id' : licence.id}) }}">{{ licence.name }}</a>
    
 </div>
    
{% endfor %}
{% endblock %}

