{% extends "/front/base.html.twig" %}


{% block main %}


<div class="card">	

<img width=200px src="{{ asset('media/' ~ licence.media) }}" alt="{{licence.name}}">

<h2>{{ licence.name }}</h2>
	<p>{{ licence.description }}</p>
</div>

{% endblock %}